#if defined(UNDER_CE)
#include <winbase.h>
#else
#include <windows.h>
#endif

#define FILE_VERSION    1,0,0,0
IDI_ICON1       ICON    "Base64.ico"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION FILE_VERSION
    FILEFLAGSMASK 0x3fL

#ifdef _DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0x0L
#endif
    FILEOS VOS__WINDOWS32
    FILETYPE VFT_DLL
    FILESUBTYPE 0x0L
    BEGIN

        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "080404b0"        // Simplified Chinese, GBK
            BEGIN
                VALUE "CompanyName", "作者：Carburn Ashroom"
                VALUE "ProductName", "Base64加解密器"
                VALUE "FileDescription", "用于加解密Base64编码"
                VALUE "LegalCopyright", "版权归 CB.A 所有"
                VALUE "OriginalFilename", "Decrypt.exe"
                VALUE "ProductVersion", "2024.11.23"
            END
        END

        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x804, 1200        //Simplified Chinese, GBK
        END
    END
